{{!< default}}

<section class="member-signup">
  <h1>Daftar Menjadi Member</h1>

  <p>Daftar untuk mendapatkan artikel eksklusif, pembaruan, dan lainnya.</p>

  <a class="gh-portal-btn" href="/#/portal/signup">Daftar Sekarang</a>
</section>