{{!< default}} {{!-- biar ikut layout header/footer bawaan tema --}}

<main class="gh-main">
<link rel="stylesheet" href="{{asset "css/gallery.css"}}">


  <div class="inner">
    <h1>{{title}}</h1>
    <p>{{custom_excerpt}}</p>



    <section class="gallery-grid">
      <figure>
        <img src="https://i.pinimg.com/736x/a9/bd/bf/a9bdbf2bdc22bfcddf749c130a8cea2a.jpg" alt="Gambar 1">
        <figcaption>bebek</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/b9/25/a7/b925a7f9ccb439e84edeee8d8247b3c5.jpg" alt="Gambar 2">
        <figcaption>meong</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/564x/0c/85/d7/0c85d7fc3612b4902736d27b637c3e1c.jpg" alt="Gambar 3">
        <figcaption>Warm Lights</figcaption>
      </figure>

    </section>
  </div>
</main>
